altair==5.5.0

anyio==4.10.0

argon2-cffi==25.1.0

argon2-cffi-bindings==25.1.0

arrow==1.3.0

asttokens==3.0.0

async-lru==2.0.5

attrs==25.3.0

babel==2.17.0

beautifulsoup4==4.13.5

bleach==6.2.0

blinker==1.9.0

cachetools==6.2.0

certifi==2025.8.3

cffi==2.0.0

charset-normalizer==3.4.3

click==8.1.7

colorama==0.4.6

comm==0.2.3

comtypes==1.4.8

debugpy==1.8.17

decorator==5.2.1

defusedxml==0.7.1

executing==2.2.1

fastjsonschema==2.21.2

Flask==3.1.0

fqdn==1.5.1

gitdb==4.0.12

GitPython==3.1.45

h11==0.16.0

httpcore==1.0.9

httpx==0.28.1

idna==3.10

ipykernel==6.30.1

ipython==9.5.0

ipython_pygments_lexers==1.1.1

isoduration==20.11.0

itsdangerous==2.2.0

jedi==0.19.2

Jinja2==3.1.4

joblib==1.5.2

json5==0.12.1

jsonpointer==3.0.0

jsonschema==4.25.1

jsonschema-specifications==2025.9.1

jupyter-events==0.12.0

jupyter-lsp==2.3.0

jupyter_client==8.6.3

jupyter_core==5.8.1

jupyter_server==2.17.0

jupyter_server_terminals==0.5.3

jupyterlab==4.4.7

jupyterlab_pygments==0.3.0

jupyterlab_server==2.27.3

lark==1.2.2

MarkupSafe==3.0.2

matplotlib-inline==0.1.7

mistune==3.1.4

narwhals==2.5.0

nbclient==0.10.2

nbconvert==7.16.6

nbformat==5.10.4

nest-asyncio==1.6.0

nltk==3.9.1

notebook==7.4.5

notebook_shim==0.2.4

numpy==2.1.2

opencv-python==4.10.0.84

packaging==25.0

pandas==2.3.2

pandocfilters==1.5.1

parso==0.8.5

pillow==11.3.0

platformdirs==4.4.0

prometheus_client==0.23.1

prompt_toolkit==3.0.52

protobuf==6.32.1

psutil==7.1.0

pure_eval==0.2.3

pyarrow==21.0.0

pycparser==2.23

pydeck==0.9.1

Pygments==2.19.2

pyjokes==0.8.3ਊ਀瀀礀瀀渀最㴀㴀　⸀㈀　㈀㈀　㜀㄀㔀⸀　਀਀倀礀儀刀䌀漀搀攀㴀㴀㄀⸀㈀⸀㄀਀਀瀀礀琀栀漀渀ⴀ搀愀琀攀甀琀椀氀㴀㴀㈀⸀㤀⸀　⸀瀀漀猀琀　਀਀瀀礀琀栀漀渀ⴀ樀猀漀渀ⴀ氀漀最最攀爀㴀㴀㌀⸀㌀⸀　਀਀瀀礀琀琀猀砀㌀㴀㴀㈀⸀㤀㠀਀਀瀀礀琀稀㴀㴀㈀　㈀㔀⸀㈀਀਀瀀礀眀椀渀瀀琀礀㴀㴀㌀⸀　⸀　਀਀倀礀夀䄀䴀䰀㴀㴀㘀⸀　⸀㈀਀਀瀀礀稀洀焀㴀㴀㈀㜀⸀㄀⸀　਀਀爀攀昀攀爀攀渀挀椀渀最㴀㴀　⸀㌀㘀⸀㈀਀਀爀攀最攀砀㴀㴀㈀　㈀㔀⸀㤀⸀㄀㠀਀਀爀攀焀甀攀猀琀猀㴀㴀㈀⸀㌀㈀⸀㔀਀਀爀昀挀㌀㌀㌀㤀ⴀ瘀愀氀椀搀愀琀漀爀㴀㴀　⸀㄀⸀㐀਀਀爀昀挀㌀㤀㠀㘀ⴀ瘀愀氀椀搀愀琀漀爀㴀㴀　⸀㄀⸀㄀਀਀爀昀挀㌀㤀㠀㜀ⴀ猀礀渀琀愀砀㴀㴀㄀⸀㄀⸀　਀਀爀瀀搀猀ⴀ瀀礀㴀㴀　⸀㈀㜀⸀㄀਀਀猀挀椀欀椀琀ⴀ氀攀愀爀渀㴀㴀㄀⸀㜀⸀㈀਀਀猀挀椀瀀礀㴀㴀㄀⸀㄀㘀⸀㈀਀਀匀攀渀搀㈀吀爀愀猀栀㴀㴀㄀⸀㠀⸀㌀਀਀猀攀琀甀瀀琀漀漀氀猀㴀㴀㠀　⸀㤀⸀　਀਀猀椀砀㴀㴀㄀⸀㄀㜀⸀　਀਀猀洀洀愀瀀㴀㴀㔀⸀　⸀㈀਀਀猀渀椀昀昀椀漀㴀㴀㄀⸀㌀⸀㄀਀਀猀漀甀瀀猀椀攀瘀攀㴀㴀㈀⸀㠀਀਀猀琀愀挀欀ⴀ搀愀琀愀㴀㴀　⸀㘀⸀㌀਀਀猀琀爀攀愀洀氀椀琀㴀㴀㄀⸀㐀㤀⸀㄀਀਀琀攀渀愀挀椀琀礀㴀㴀㤀⸀㄀⸀㈀਀਀琀攀爀洀椀渀愀搀漀㴀㴀　⸀㄀㠀⸀㄀਀਀琀栀爀攀愀搀瀀漀漀氀挀琀氀㴀㴀㌀⸀㘀⸀　਀਀琀椀渀礀挀猀猀㈀㴀㴀㄀⸀㐀⸀　਀਀琀漀洀氀㴀㴀　⸀㄀　⸀㈀਀਀琀漀爀渀愀搀漀㴀㴀㘀⸀㔀⸀㈀਀਀琀焀搀洀㴀㴀㐀⸀㘀㜀⸀㄀਀਀琀爀愀椀琀氀攀琀猀㴀㴀㔀⸀㄀㐀⸀㌀਀਀琀礀瀀攀猀ⴀ瀀礀琀栀漀渀ⴀ搀愀琀攀甀琀椀氀㴀㴀㈀⸀㤀⸀　⸀㈀　㈀㔀　㠀㈀㈀਀਀琀礀瀀椀渀最开攀砀琀攀渀猀椀漀渀猀㴀㴀㐀⸀㄀㔀⸀　਀਀琀稀搀愀琀愀㴀㴀㈀　㈀㔀⸀㈀਀਀甀爀椀ⴀ琀攀洀瀀氀愀琀攀㴀㴀㄀⸀㌀⸀　਀਀甀爀氀氀椀戀㌀㴀㴀㈀⸀㔀⸀　਀਀眀愀琀挀栀搀漀最㴀㴀㘀⸀　⸀　਀਀眀挀眀椀搀琀栀㴀㴀　⸀㈀⸀㄀㌀਀਀眀攀戀挀漀氀漀爀猀㴀㴀㈀㐀⸀㄀㄀⸀㄀਀਀眀攀戀攀渀挀漀搀椀渀最猀㴀㴀　⸀㔀⸀㄀਀਀眀攀戀猀漀挀欀攀琀ⴀ挀氀椀攀渀琀㴀㴀㄀⸀㠀⸀　਀਀圀攀爀欀稀攀甀最㴀㴀㌀⸀㄀⸀㌀਀਀